server:
  port: 8080

spring:
  application:
    name: api-gateway-service

  cloud:
    gateway:
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
      routes:

        # ? User Auth (Signup/Login)
        - id: user-service
          uri: http://localhost:8081
          predicates:
            - Path=/auth/**
          filters:
            - name: RequestRateLimiter
              args:
                redis-rate-limitter.replenishRate: 10
                redis-rate-limitter.burstCapacity: 20
                redis-rate-limitter.requestedTokens: 1


        # ? User Service (Get user info, etc.)
        - id: user-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/users/**
          filters:
            - name: RequestRateLimiter
              args:
                redis-rate-limitter.replenishRate: 10
                redis-rate-limitter.burstCapacity: 20
                redis-rate-limitter.requestedTokens: 1  -

        # ? Transaction Service
        - id: transaction-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/transactions/**
          filters:
            - name: RequestRateLimiter
              args:
                redis-rate-limitter.replenishRate: 10
                redis-rate-limitter.burstCapacity: 20
                redis-rate-limitter.requestedTokens: 1
        # ? Reward Service
        - id: reward-service
          uri: http://localhost:8085
          predicates:
            - Path=/api/rewards/**
          filters:
            - name: RequestRateLimiter
              args:
                redis-rate-limitter.replenishRate: 10
                redis-rate-limitter.burstCapacity: 20
                redis-rate-limitter.requestedTokens: 1
        # ? Notification Service
        - id: notification-service
          uri: http://localhost:8084
          predicates:
            - Path=/api/notifications/**
          filters:
            - name: RequestRateLimiter
              args:
                redis-rate-limitter.replenishRate: 10
                redis-rate-limitter.burstCapacity: 20
                redis-rate-limitter.requestedTokens: 1

  jwt:
    secret: my-super-secret-key-that-you-never-share


    httpclient:
      max-initial-line-length: 4096
      max-header-size: 8192
    filters:
      - name: RequestSize
        args:
          maxRequestSize: 1MB
logging:
  level:
    org.springframework.cloud.gateway: DEBUG